$colors: (
  limon: #78E08F,
  limon-pattern: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%234aba63' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
  manzana: darken(#78E08F, 10%),
  berry: #FF5252,
  berry-pattern: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ca2727' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
  cherry: darken(#e24747, 10%),
  blanco: #FFFFFF,
  oil: #3C6382,
  mud: darken(#3C6382, 10%), 
  input-grey: #adadad
);

$fonts: (
  roboto: ('Roboto', sans-serif),
  rubik: ('Rubik', sans-serif)
);

$screen: (
  mobile: 840px,
  monitor: 1024px
);

@function get-colors($color){
  @return map-get($colors, $color)
};

@function get-fonts($font){
  @return map-get($fonts, $font)
};

@function get-screen($width){
  @return map-get($screen, $width)
};

@import 'components/scss/containers';
@import 'components/scss/header';
@import 'components/scss/vitrina';
@import 'components/scss/callme';
@import 'components/scss/clientes';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

* {
  box-sizing: border-box
}

body {
  font-family: get-fonts(roboto);
  font-weight: 400;
  margin: 0
}

header {
  background: get-colors(oil);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

input {
  width: 100%;
  border: none;
  border-radius: 2rem;
  padding: 10px 20px;
  color: get-colors(oil);
  font-size: 1rem;
  &::placeholder {
    font-size: .8rem;
    color: get-colors(input-grey)
  }

}

select {
  width: 100%;
  border: none;
  border-radius: 2rem;
  padding: 10px 20px;
  -webkit-appearance: button;
  -moz-border-radius: 2rem;
  -webkit-border-radius: 2rem;
  border-radius: 2rem;
  height: 38px;
  background: get-colors(blanco);
  color: get-colors(oil);
  font-size: 1rem;

}

@for $x from 1 through 10 {
  .width-#{$x} {
    width: $x * 10%
  }
}

@for $x from 1 through 10 {
  .margin-#{$x} {
    margin: ($x * .5rem) 0
  }
}

.text--center {
  text-align: center
}

.text--left {
  text-align: left
}

.text--right {
  text-align: right
}

.text--justify {
  text-align: justify
}